<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sobre Mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Apresentação</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Olá! Sou o João, estudante do 3º semestre de Análise e Desenvolvimento de Sistemas na Unisuam. 
        No mundo da programação, gosto de me aventurar na linguagem Lua para criar meus próprios jogos no Roblox Studio e estou conhecendo sobre TypeScript, Ionic e Angular para projetos mobile.
      </p>

      <p style="margin-top: 10px;">
        Quando não estou codificando, gosto de jogar RPG de mesa com meus amigos e explorar jogos com temáticas envolventes de espaços liminares e estruturas colossais, como Portal e BioShock.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin-top" routerLink="/home" color="medium">
    Voltar para Cartão
  </ion-button>
</ion-content>
