<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Cartão de Identificação Unisuam
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <img alt="fotoPerfil" src="assets/minhaFoto.png">

    <ion-card-header>
      <ion-card-title>João Pedro Rangel</ion-card-title>
      <ion-card-subtitle>Análise e Desenvolvimento de Sistemas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-row class="ion-aling-items-center">

        <ion-col>
          <p><strong>Turma:</strong> ADS0301M</p>
          <p><strong>Unidade:</strong> Bonsucesso</p>
          <p><strong>Turno:</strong> Manhã</p>
        </ion-col>

        <ion-col size="auto">
          <img alt="Unisuam" src="assets/unisuamLogo.png" style="max-height: 50px;"/>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" class="ion-margin" routerLink="/sobre">
    Sobre Mim
  </ion-button>
</ion-content>